@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #141516;
}

[data-theme="dark"] {
  --background: #141516;
  --foreground: #ffffff;
}

@custom-variant dark (&:is(.dark *));

.scale-up {
  @apply hover:scale-125 transition-all duration-300;
}

.scale-top {
  @apply hover:scale-200 transition-all duration-300;
}

button {
  cursor: pointer;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.scrollable-modal::-webkit-scrollbar {
  width: 8px;
}

.scrollable-modal::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 6px;
}

.scrollable-modal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.scrollable-modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}
